*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html{
    font-family: "poppins", "sans-serif";
    scroll-behavior: smooth;
}
p{
    color: #555555;
}
a, .btn{
    transition: all 300s ease;
}
nav, .nav-links{
    display: flex;
}
nav{ 
    justify-content: space-around;
    align-items: center;
    height: 17vh;
   text-transform: capitalize;
}
.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
a{
    color: #1a1a1a;
    text-decoration: none;
    text-decoration-color: #fafafa;
}
a:hover {
    color: #464444;
    text-decoration: underline; 
    text-underline-offset: 1rem;
    text-decoration-color: #464444;
}